Repository doonga/greyrock-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

fix(docker-image): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.1.4146
  kubernetes/main/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(docker-image): update quay.io/minio/minio docker tag to release.2023-12-09t18-17-51z
  kubernetes/nas/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action): update oxsecurity/megalinter action to v7.7.0
  .github/workflows/lint.yaml
Labels: area/ci

fix(talos): Add null schematic
  kubernetes/main/talos/talconfig.yaml
Labels: area/kubernetes

feat(talos): Update to schematic definition
  kubernetes/main/talos/talconfig.yaml
Labels: area/kubernetes

fix(talhelper): Set up schematic correctly
  kubernetes/main/talos/talconfig.yaml
Labels: area/kubernetes

feat(talhelper): Remove unneeded bits of talhelper config
  kubernetes/main/talos/talconfig.yaml
Labels: area/kubernetes

feat(ansible-collection): update community.docker to 3.5.0
  infrastructure/ansible/pikvm/requirements.yml
Labels: none

feat(docker-image): update k8s-ycl docker tag to v1.2.0
  kubernetes/main/apps/system-controllers/k8s-ycl/app/helmrelease.yaml
  kubernetes/nas/apps/system-controllers/k8s-ycl/app/helmrelease.yaml
Labels: area/kubernetes

fix(docker-image): update ghcr.io/onedr0p/radarr-develop docker tag to v5.2.4.8328
  kubernetes/main/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(docker-image): update ghcr.io/atuinsh/atuin docker tag to v17.1.0
  kubernetes/main/apps/selfhosted/atuin/app/helmrelease.yaml
Labels: area/kubernetes

fix(docker-image): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.2.4148
  kubernetes/main/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(autoscan): Mount pvc to correct path
  kubernetes/main/apps/downloads/autoscan/app/helmrelease.yaml
Labels: area/kubernetes

chore(autoscan): Yeet for a minute
  kubernetes/main/apps/downloads/kustomization.yaml
Labels: area/kubernetes

fix(autoscan): Back in ya go
  kubernetes/main/apps/downloads/autoscan/ks.yaml
  kubernetes/main/apps/downloads/kustomization.yaml
Labels: area/kubernetes

fix(rook-ceph): Dashboard ingressclass
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(docker-image): update ghcr.io/taxel/plextraktsync docker tag to v0.27.13
  kubernetes/main/apps/media/plex/trakt-sync/helmrelease.yaml
Labels: area/kubernetes

fix(helm-chart): update helm release grafana to 7.0.14
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm-chart): update helm release thanos to 12.17.0
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

chore: Archive rename cleanup & update renovate config
  .github/renovate.json5
  .github/renovate/customVersioning.json5
  .gitignore
Labels: area/ci

chore(windmill): Update archived code
  .archive/kubernetes/windmill/app/externalsecret.yaml
  .archive/kubernetes/windmill/app/helmrelease.yaml
  .archive/kubernetes/windmill/app/kustomization.yaml
  .archive/kubernetes/windmill/app/postgresCluster.yaml
  .archive/kubernetes/windmill/ks.yaml
Labels: none

feat(node-red): Update ingress
  kubernetes/main/apps/selfhosted/node-red/app/helmrelease.yaml
Labels: area/kubernetes

feat(flux): Update notification receiver
  kubernetes/nas/apps/flux-system/add-ons/app/kustomization.yaml
  kubernetes/nas/apps/flux-system/add-ons/app/webhooks/github/externalsecret.yaml
  kubernetes/nas/apps/flux-system/add-ons/app/webhooks/github/ingress.yaml
  kubernetes/nas/apps/flux-system/add-ons/app/webhooks/github/kustomization.yaml
  kubernetes/nas/apps/flux-system/add-ons/app/webhooks/github/receiver.yaml
  kubernetes/nas/apps/flux-system/add-ons/app/webhooks/kustomization.yaml
  kubernetes/nas/apps/flux-system/add-ons/ks.yaml
  kubernetes/nas/apps/flux-system/kustomization.yaml
  kubernetes/nas/apps/flux-system/namespace.yaml
Labels: area/kubernetes

feat(node-red): Add hajimari
  kubernetes/main/apps/selfhosted/hajimari-todd/app/helmrelease.yaml
Labels: area/kubernetes

fix(hajimari): Put annotations in annotations
  kubernetes/main/apps/selfhosted/hajimari-todd/app/helmrelease.yaml
Labels: area/kubernetes

fix(hajimari): Put node-red annotations on node-red
  kubernetes/main/apps/selfhosted/hajimari-todd/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/node-red/app/helmrelease.yaml
Labels: area/kubernetes

chore: Update renovate config
  .github/renovate.json5
Labels: area/ci

feat(talos): Enable KubePrism
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

feat(multus): Use correct interface name
  kubernetes/main/apps/network/multus/config/net-attach-iot.yaml
Labels: area/kubernetes

feat(series-cleanup): Remove
  kubernetes/main/apps/media/kustomization.yaml
  kubernetes/main/apps/media/series-cleanup/app/config/settings.json
  kubernetes/main/apps/media/series-cleanup/app/externalsecret.yaml
  kubernetes/main/apps/media/series-cleanup/app/helmrelease.yaml
  kubernetes/main/apps/media/series-cleanup/app/kustomization.yaml
  kubernetes/main/apps/media/series-cleanup/ks.yaml
Labels: area/kubernetes

fix: Fix taskfile
  .taskfiles/k8s/Taskfile.yaml
Labels: none

feat(maintainerr): Deploy
  kubernetes/main/apps/media/kustomization.yaml
  kubernetes/main/apps/media/maintainerr/app/helmrelease.yaml
  kubernetes/main/apps/media/maintainerr/app/kustomization.yaml
  kubernetes/main/apps/media/maintainerr/ks.yaml
Labels: area/kubernetes

feat(plex-auto-languages): Deploy
  kubernetes/main/apps/media/plex/ks.yaml
  kubernetes/main/apps/media/plex/plex-auto-languages/externalsecret.yaml
  kubernetes/main/apps/media/plex/plex-auto-languages/helmrelease.yaml
  kubernetes/main/apps/media/plex/plex-auto-languages/kustomization.yaml
Labels: area/kubernetes

feat(grafana): Some more dashboard changes
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/shared/dashboard/kustomization.yaml
  kubernetes/main/apps/network/ingress-nginx/shared/kustomization.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/add-ons/dashboard/ceph-cluster-dashboard.json
  kubernetes/main/apps/rook-ceph/rook-ceph/add-ons/dashboard/ceph-osd-dashboard.json
  kubernetes/main/apps/rook-ceph/rook-ceph/add-ons/dashboard/ceph-pools-dashboard.json
  kubernetes/main/apps/rook-ceph/rook-ceph/add-ons/dashboard/kustomization.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/add-ons/kustomization.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

fix(grafana): Some more dashboard changes
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(grafana): Some more dashboard changes
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(flux): Fix notification crd
  kubernetes/main/flux/config/flux.yaml
  kubernetes/nas/flux/config/flux.yaml
Labels: area/kubernetes

fix(grafana): Fix Flux dashboards
  kubernetes/main/apps/flux-system/add-ons/app/monitoring/kustomization.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(flux): Alertmanager
  kubernetes/main/apps/flux-system/add-ons/app/notifications/alertmanager/notification.yaml
Labels: area/kubernetes

fix(grafana): Dashboards
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
