Repository doonga/greyrock-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/main, cluster/nas, cluster/utility, cluster/omni

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*
cluster/utility:
  - changed-files:
      - any-glob-to-any-file: kubernetes/utility/**/*
cluster/omni:
  - changed-files:
      - any-glob-to-any-file: kubernetes/omni/**/*

feat(rtlamr): Netpol
  kubernetes/main/apps/home-automation/rtlamr2mqtt/app/kustomization.yaml
  kubernetes/main/apps/home-automation/rtlamr2mqtt/app/networkpolicy.yaml
Labels: area/kubernetes, cluster/main

fix(rtlamr): Netpol for dns
  kubernetes/main/apps/home-automation/rtlamr2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(hajimari): Add unifi user
  kubernetes/main/apps/network/external-services/unifi.yaml
Labels: area/kubernetes, cluster/main

feat: Move and renovate omni templates
  kubernetes/main/bootstrap/talos/omni-template.yaml
  kubernetes/utility/bootstrap/talos/omni-template.yaml
Labels: area/kubernetes, cluster/main, cluster/utility

chore: Move files
  kubernetes/main/bootstrap/talos/omni/omni-template.yaml
  kubernetes/utility/bootstrap/talos/omni/omni-template.yaml
Labels: area/kubernetes, cluster/main, cluster/utility

feat(hajimari): Add omni
  kubernetes/main/apps/selfhosted/hajimari-todd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: cleanup
  .github/scripts/cloudflare-proxied-networks.sh
Labels: area/ci

fix(cilium): Roll back to 1.15.3
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/main/bootstrap/talos/integrations/helmfile.yaml
  kubernetes/utility/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/utility/bootstrap/talos/integrations/helmfile.yaml
Labels: area/kubernetes, cluster/main, cluster/utility

fix(kubernetes): Remove feature gates for 1.30
  kubernetes/main/bootstrap/talos/omni/omni-template.yaml
  kubernetes/utility/bootstrap/talos/omni/omni-template.yaml
Labels: area/kubernetes, cluster/main, cluster/utility

feat: Add Omni Cluster Sync action
  .github/workflows/omni-cluster-sync.yaml
  kubernetes/main/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/main/bootstrap/talos/omni/omni-template.yaml
  kubernetes/utility/bootstrap/talos/omni/omni-template.yaml
Labels: area/ci, area/kubernetes, cluster/main, cluster/utility

Delete .github/workflows/omni-cluster-sync.yaml
  .github/workflows/omni-cluster-sync.yaml
Labels: area/ci

feat: Omni cluster sync
  .github/workflows/omni-cluster-sync.yaml
  kubernetes/main/bootstrap/talos/omni/omni-template.yaml
Labels: area/ci, area/kubernetes, cluster/main

feat: Omni cluster sync
  .github/workflows/omni-cluster-sync.yaml
  kubernetes/main/bootstrap/talos/omni/omni-template.yaml
Labels: area/ci, area/kubernetes, cluster/main

chore: Testing omni apply
  kubernetes/utility/bootstrap/talos/omni/omni-template.yaml
Labels: area/kubernetes, cluster/utility

chore: Testing omni apply
  kubernetes/main/bootstrap/talos/omni/omni-template.yaml
  kubernetes/utility/bootstrap/talos/omni/omni-template.yaml
Labels: area/kubernetes, cluster/main, cluster/utility

chore: Testing omni apply for real
  .github/workflows/omni-cluster-sync.yaml
  kubernetes/main/bootstrap/talos/omni/omni-template.yaml
  kubernetes/utility/bootstrap/talos/omni/omni-template.yaml
Labels: area/ci, area/kubernetes, cluster/main, cluster/utility

chore: Testing omni apply for real
  kubernetes/main/bootstrap/talos/omni/omni-template.yaml
  kubernetes/utility/bootstrap/talos/omni/omni-template.yaml
Labels: area/kubernetes, cluster/main, cluster/utility

feat(ks-sync): Don't run if omni template is the only change
  .github/workflows/flux-ks-sync.yaml
Labels: area/ci

feat: Add omni monitoring
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix: matchbox paths for main
  kubernetes/main/bootstrap/talos/matchbox/profiles/omni-main.json
Labels: area/kubernetes, cluster/main

feat(omni): Add external-dns
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/omni/apps/network/external-dns/internal/externalsecret.yaml
  kubernetes/omni/apps/network/external-dns/internal/helmrelease.yaml
  kubernetes/omni/apps/network/external-dns/internal/kustomization.yaml
  kubernetes/omni/apps/network/external-dns/ks.yaml
  kubernetes/omni/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/omni

fix(external-dns): omni label
  kubernetes/omni/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/omni

feat(hs110-exporter): static multus mac
  kubernetes/main/apps/monitoring/hs110-exporter-rack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: Add static mac to multus pod interfaces
  kubernetes/main/apps/home-automation/ambientweather2mqtt/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/esphome/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/scrypted/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(nginx): Consolidate nginx sidecar tag
  kubernetes/main/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/tandoor/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(talos): Tweak taskfile
  .taskfiles/talos/Taskfile.yaml
Labels: none

chore: Remove .omni in favor of cluster templates
  .omni/clusters/common/cluster-patches.yaml
  .omni/clusters/main/cp-patches.yaml
  .omni/clusters/main/k8s1.yaml
  .omni/clusters/main/k8s2.yaml
  .omni/clusters/main/k8s3.yaml
  .omni/clusters/utility/cp-patches.yaml
  .omni/clusters/utility/k8s4.yaml
  .omni/clusters/utility/k8s5.yaml
  .omni/clusters/utility/k8s6.yaml
Labels: none

feat(fstrim): Deploy on utility
  kubernetes/utility/apps/system/fstrim/app/helmrelease.yaml
  kubernetes/utility/apps/system/fstrim/ks.yaml
Labels: area/kubernetes, cluster/utility

feat: Cut over to utility dns
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/network/external-dns/internal/helmrelease.yaml
  kubernetes/nas/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/nas

fix(external-dns): Update port
  kubernetes/main/apps/network/external-dns/internal/helmrelease.yaml
  kubernetes/nas/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/nas

feat: Back to talhelper
  kubernetes/main/bootstrap/talos/clusterconfig/.gitignore
  kubernetes/main/bootstrap/talos/matchbox/groups/k8s1.json
  kubernetes/main/bootstrap/talos/matchbox/groups/k8s2.json
  kubernetes/main/bootstrap/talos/matchbox/groups/k8s3.json
  kubernetes/main/bootstrap/talos/matchbox/profiles/k8s1.json
  kubernetes/main/bootstrap/talos/matchbox/profiles/k8s2.json
  kubernetes/main/bootstrap/talos/matchbox/profiles/k8s3.json
  kubernetes/main/bootstrap/talos/omni/omni-template.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
  kubernetes/main/bootstrap/talos/talenv.sops.yaml
  kubernetes/main/bootstrap/talos/talsecret.sops.yaml
Labels: area/kubernetes, cluster/main

feat(cilium): Simplify
  kubernetes/main/apps/kube-system/cilium/app/bgppeeringpolicy.yaml
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
  kubernetes/main/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/main/apps/kube-system/cilium/config/l2announcement.yaml
  kubernetes/main/apps/kube-system/cilium/config/netpols/allow-egress-apiserver.yaml
  kubernetes/main/apps/kube-system/cilium/config/netpols/allow-egress-internet.yaml
  kubernetes/main/apps/kube-system/cilium/config/netpols/allow-egress-kubedns.yaml
  kubernetes/main/apps/kube-system/cilium/config/netpols/allow-egress-lan.yaml
  kubernetes/main/apps/kube-system/cilium/config/netpols/allow-egress-minio.yaml
  kubernetes/main/apps/kube-system/cilium/config/netpols/allow-egress-world.yaml
  kubernetes/main/apps/kube-system/cilium/config/netpols/allow-ingress-internet.yaml
  kubernetes/main/apps/kube-system/cilium/config/netpols/allow-ingress-lan.yaml
  kubernetes/main/apps/kube-system/cilium/config/netpols/allow-ingress-world.yaml
  kubernetes/main/apps/kube-system/cilium/config/netpols/default-allow-kubedns.yaml
  kubernetes/main/apps/kube-system/cilium/config/netpols/kube-system-allow-all.yaml
  kubernetes/main/apps/kube-system/cilium/config/netpols/kustomization.yaml
  kubernetes/main/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes, cluster/main

feat: Update LBIP's
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
  kubernetes/main/apps/home-automation/ambientweather2mqtt/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/mosquitto/app/helmrelease.yaml
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/vector/aggregator/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(talos): Config updates
  kubernetes/main/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/main

feat: Yeet omni
  .taskfiles/talos/Taskfile.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/main

feat(kps): Blocky scrapeconfig
  kubernetes/main/apps/monitoring/kube-prometheus-stack/addons/scrapeconfigs/blocky.yaml
Labels: area/kubernetes, cluster/main
