Repository doonga/greyrock-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"

ci: Add Flux KS Sync
  .github/workflows/flux-ks-sync.yaml
Labels: area/ci

ci: Update deprecated keys
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-ks-sync.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-label-size.yaml
  .github/workflows/meta-labeler.yaml
Labels: area/ci

ci: Set correct runner
  .github/workflows/flux-ks-sync.yaml
Labels: area/ci

feat(flux)!: Remove webhook
  kubernetes/main/apps/flux-system/add-ons/app/kustomization.yaml
  kubernetes/main/apps/flux-system/add-ons/app/webhooks/github/externalsecret.yaml
  kubernetes/main/apps/flux-system/add-ons/app/webhooks/github/ingress.yaml
  kubernetes/main/apps/flux-system/add-ons/app/webhooks/github/kustomization.yaml
  kubernetes/main/apps/flux-system/add-ons/app/webhooks/github/receiver.yaml
  kubernetes/main/apps/flux-system/add-ons/app/webhooks/kustomization.yaml
  kubernetes/nas/apps/flux-system/add-ons/app/kustomization.yaml
  kubernetes/nas/apps/flux-system/add-ons/app/webhooks/github/externalsecret.yaml
  kubernetes/nas/apps/flux-system/add-ons/app/webhooks/github/ingress.yaml
  kubernetes/nas/apps/flux-system/add-ons/app/webhooks/github/kustomization.yaml
  kubernetes/nas/apps/flux-system/add-ons/app/webhooks/github/receiver.yaml
  kubernetes/nas/apps/flux-system/add-ons/app/webhooks/kustomization.yaml
  kubernetes/nas/apps/flux-system/add-ons/ks.yaml
  kubernetes/nas/apps/flux-system/kustomization.yaml
  kubernetes/nas/apps/flux-system/namespace.yaml
Labels: area/kubernetes

feat(zot): Update retention config
  kubernetes/nas/apps/storage/zot/app/config/config.json
Labels: area/kubernetes

ci: Switch to official app-token action
  .github/workflows/flux-diff.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-label-size.yaml
  .github/workflows/meta-labeler.yaml
Labels: area/ci

ci: Multicluster flux-diff
  .github/workflows/flux-diff.yaml
Labels: area/ci

ci: Remove flake.lock from CI
  .gitignore
Labels: none

ci: Switch to nixpkgs-unstable
  .ci/flake.nix
  .gitignore
Labels: none

ci: Change flux-diff
  .github/workflows/flux-diff.yaml
Labels: area/ci

feat(zot): Disable CVE search and scrub
  kubernetes/nas/apps/storage/zot/app/config/config.json
Labels: area/kubernetes

fix: Minor formatting change
  .github/workflows/flux-ks-sync.yaml
Labels: area/ci

chore: Remove namespace
  kubernetes/main/apps/dev/actions-runner-controller/runners/greyrock-ops.yaml
Labels: area/kubernetes

ci: Add flux-hr-image-test
  .ci/scripts/extract-images.mjs
  .github/workflows/flux-hr-image-test.yaml
Labels: area/ci

fix(nginx): Roll back to previous release
  kubernetes/main/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/nas/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

feat(arc): Keep some running for faster reconciles
  kubernetes/main/apps/dev/actions-runner-controller/runners/greyrock-ops.yaml
Labels: area/kubernetes

feat(hajimari): Remove unused links
  kubernetes/main/apps/selfhosted/hajimari-andy/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/hajimari-todd/app/helmrelease.yaml
Labels: area/kubernetes

feat(arc): It's not that much faster
  kubernetes/main/apps/dev/actions-runner-controller/runners/greyrock-ops.yaml
Labels: area/kubernetes

feat(arc): Keep two idle runners
  kubernetes/main/apps/dev/actions-runner-controller/runners/greyrock-ops.yaml
Labels: area/kubernetes

ci: Clean up workflows
  .ci/flake.nix
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/docs-publish.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-image-test.yaml
  .github/workflows/flux-ks-sync.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-enforce-labels.yaml
  .github/workflows/meta-label-size.yaml
  .github/workflows/meta-labeler.yaml
Labels: area/ci

ci: Clean up workflows
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-ks-sync.yaml
Labels: area/ci

ci: Clean up workflows
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-image-test.yaml
  .github/workflows/meta-enforce-labels.yaml
Labels: area/ci

ci: Clean up workflows
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/meta-enforce-labels.yaml
Labels: area/ci

feat(arc): Adjust min runners
  kubernetes/main/apps/dev/actions-runner-controller/runners/greyrock-ops.yaml
Labels: area/kubernetes

feat(arc): Adjust min runners
  kubernetes/main/apps/dev/actions-runner-controller/runners/greyrock-ops.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/nas/apps/storage/zot/app/helmrelease.yaml
Labels: area/kubernetes

Update config.json
  kubernetes/nas/apps/storage/zot/app/config/config.json
Labels: area/kubernetes

fix(zot): Revert from v2 release (#1684)
  kubernetes/nas/apps/storage/zot/app/config/config.json
  kubernetes/nas/apps/storage/zot/app/helmrelease.yaml
Labels: area/kubernetes

fix(zot): Roll back config change
  kubernetes/nas/apps/storage/zot/app/config/config.json
Labels: area/kubernetes
