Repository doonga/greyrock-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

feat: Put this back for now
  kubernetes/main/apps/downloads/overseerr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/overseerr/app/kustomization.yaml
  kubernetes/main/apps/downloads/overseerr/app/volsync.yaml
  kubernetes/main/apps/downloads/overseerr/ks.yaml
Labels: area/kubernetes

fix(deps): update ansible-core to 2.16.1
  requirements.txt
Labels: none

fix: home-automation volsync perms
  kubernetes/main/apps/home-automation/namespace.yaml
Labels: area/kubernetes

fix: Copy/paste fail
  kubernetes/main/apps/selfhosted/namespace.yaml
Labels: area/kubernetes

fix(rook-ceph): Dashboard ingress class
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(plex): Bump volume size
  kubernetes/main/apps/media/plex/ks.yaml
Labels: area/kubernetes

fix: quick yeet
  kubernetes/main/apps/media/kustomization.yaml
Labels: area/kubernetes

fix: back
  kubernetes/main/apps/media/kustomization.yaml
Labels: area/kubernetes

feat: vscode extensions
  .taskfiles/k8s/Taskfile.yaml
  .vscode/extensions.json
Labels: none

fix(zwave-js-ui): Switch deployment
  kubernetes/main/apps/home-automation/zwave-js-ui/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/zwave-js-ui/app/kustomization.yaml
  kubernetes/main/apps/home-automation/zwave-js-ui/app/volsync.yaml
Labels: area/kubernetes

feat(zwave-js-ui): Also include
  kubernetes/main/apps/home-automation/zwave-js-ui/ks.yaml
Labels: area/kubernetes

fix(zwave-js-ui): pvc
  kubernetes/main/apps/home-automation/zwave-js-ui/ks.yaml
Labels: area/kubernetes

feat(docker-image): update ghcr.io/bjw-s/k8s-ycl docker tag to v0.2.0
  kubernetes/main/apps/system-controllers/k8s-ycl/app/helmrelease.yaml
  kubernetes/nas/apps/system-controllers/k8s-ycl/app/helmrelease.yaml
Labels: area/kubernetes

fix(docker-image): update registry.k8s.io/sig-storage/csi-node-driver-registrar docker tag to v2.9.2
  kubernetes/main/apps/system/democratic-csi/local-path/helmrelease.yaml
Labels: area/kubernetes

fix(docker-image): update ghcr.io/onedr0p/plex docker tag to v1.32.8.7639-fb6452ebf
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix(docker-image): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.1.4140
  kubernetes/main/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(docker-image): update ghcr.io/onedr0p/tautulli docker tag to v2.13.3
  kubernetes/main/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

feat(docker-image): update ghcr.io/paperless-ngx/paperless-ngx docker tag to v2.1.0
  kubernetes/main/apps/selfhosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(docker-image): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.1.4141
  kubernetes/main/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(docker-image): update quay.io/minio/minio docker tag to release.2023-12-06t09-09-22z
  kubernetes/nas/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action)!: Update actions/setup-python action to v5
  .github/workflows/docs-publish.yaml
Labels: area/ci

fix(docker-image): update ghcr.io/taxel/plextraktsync docker tag to v0.27.12
  kubernetes/main/apps/media/plex/trakt-sync/helmrelease.yaml
Labels: area/kubernetes

fix(rook): Dashboard ingressclass
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(thelounge): Update to new format
  kubernetes/main/apps/selfhosted/thelounge/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/thelounge/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/thelounge/ks.yaml
Labels: area/kubernetes

feat(overseerr): New format
  kubernetes/main/apps/downloads/overseerr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/overseerr/app/kustomization.yaml
  kubernetes/main/apps/downloads/overseerr/app/volsync.yaml
  kubernetes/main/apps/downloads/overseerr/ks.yaml
Labels: area/kubernetes

feat(overseerr): Use more substitutions
  kubernetes/main/apps/downloads/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

fix(node-exporter): Update replacement to be my domain
  kubernetes/main/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(ambientweather2mqww): Update to new format
  kubernetes/main/apps/home-automation/ambientweather2mqtt/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/ambientweather2mqtt/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/ambientweather2mqtt/app/kustomization.yaml
Labels: area/kubernetes

feat(ambientweather2mqtt): Update to new format
  kubernetes/main/apps/home-automation/ambientweather2mqtt/ks.yaml
Labels: area/kubernetes

feat(rtlamr2mqtt): Update to new format
  kubernetes/main/apps/home-automation/rtlamr2mqtt/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/rtlamr2mqtt/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/rtlamr2mqtt/app/kustomization.yaml
  kubernetes/main/apps/home-automation/rtlamr2mqtt/ks.yaml
Labels: area/kubernetes

fix(docker-image): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.1.4142
  kubernetes/main/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: Update to new format
  kubernetes/main/apps/monitoring/hs110-exporter-rack/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/hs110-exporter-rack/app/kustomization.yaml
  kubernetes/main/apps/monitoring/hs110-exporter-rack/ks.yaml
Labels: area/kubernetes

fix(hs100-exporter-rack): Missed yaml anchor
  kubernetes/main/apps/monitoring/hs110-exporter-rack/ks.yaml
Labels: area/kubernetes

feat: Update to new format
  kubernetes/main/apps/selfhosted/hajimari-andy/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/hajimari-andy/ks.yaml
  kubernetes/main/apps/selfhosted/hajimari-todd/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/hajimari-todd/ks.yaml
Labels: area/kubernetes

feat: Update to new format
  kubernetes/main/apps/selfhosted/teslamate/app/dashboard/kustomization.yaml
  kubernetes/main/apps/selfhosted/teslamate/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/teslamate/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/teslamate/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/teslamate/app/postgresCluster.yaml
  kubernetes/main/apps/selfhosted/teslamate/ks.yaml
Labels: area/kubernetes

feat(kopia): Deploy on NAS
  kubernetes/nas/apps/storage/kopia/app/config/repository.config
  kubernetes/nas/apps/storage/kopia/app/externalsecret.yaml
  kubernetes/nas/apps/storage/kopia/app/helmrelease.yaml
  kubernetes/nas/apps/storage/kopia/app/kustomization.yaml
  kubernetes/nas/apps/storage/kopia/ks.yaml
  kubernetes/nas/apps/storage/kustomization.yaml
Labels: area/kubernetes

fix(nas): Change hostname to proper domain
  archive/kubernetes/frigate/app/helmrelease.yaml
  archive/kubernetes/jellyfin/app/helmrelease.yaml
  archive/kubernetes/postgres-backup/app/cronjob.yaml
  kubernetes/main/apps/downloads/cross-seed/app/helmrelease.yaml
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/main/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/scrypted/app/helmrelease.yaml
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
  kubernetes/main/apps/media/series-cleanup/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/addons/scrapeconfigs/node-exporter.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/addons/scrapeconfigs/smartctl-exporter.yaml
  kubernetes/main/apps/selfhosted/paperless/app/helmrelease.yaml
  kubernetes/nas/apps/storage/kopia/app/config/repository.config
  kubernetes/nas/apps/storage/kopia/app/helmrelease.yaml
Labels: area/kubernetes

feat(docker-image): update ghcr.io/home-assistant/home-assistant docker tag to v2023.12.0
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(sops): Talos sops fix
  .sops.yaml
Labels: none

feat(mealie): Deploy
  kubernetes/main/apps/selfhosted/mealie/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/mealie/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/mealie/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/mealie/ks.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
