Repository doonga/greyrock-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

chore: Remove orig files
  kubernetes/main/apps/dev/actions-runner-controller/operator/externalsecret.yaml.orig
  kubernetes/main/apps/dev/actions-runner-controller/operator/helmrelease.yaml.orig
  kubernetes/main/apps/dev/actions-runner-controller/operator/kustomization.yaml.orig
Labels: area/kubernetes

feat(omada): Update omada-controller external service
  kubernetes/main/apps/network/external-services/omada.yaml
Labels: area/kubernetes

fix(omada): Use correct controller port
  kubernetes/main/apps/network/external-services/omada.yaml
Labels: area/kubernetes

fix(omada): More port updates
  kubernetes/main/apps/network/external-services/omada.yaml
Labels: area/kubernetes

feat(Remove renovate workflow, add archived app):
  .archive/kubernetes/renovate-ce/app/externalsecret.yaml
  .archive/kubernetes/renovate-ce/app/helmrelease.yaml
  .archive/kubernetes/renovate-ce/app/kustomization.yaml
  .archive/kubernetes/renovate-ce/app/pvc.yaml
  .archive/kubernetes/renovate-ce/ks.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(esphome): Add ratgdo api keys
  kubernetes/main/apps/home-automation/esphome/app/externalsecret.yaml
Labels: area/kubernetes

ci: Switch homebrew with nix
  .ci/flake.nix
  .github/workflows/build-terraform-oci.yaml
Labels: area/ci

feat(zigbee2mqtt): Update adapter config
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat(zigbee2mqtt): Use hostname for coordinator
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

fix(rook): Roll back
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

feat(talos): Upgrade to 1.6.0
  kubernetes/main/talos/talconfig.yaml
  kubernetes/main/talos/talenv.sops.yaml
Labels: area/kubernetes

ci(nix): Run unstable during CI
  .ci/flake.nix
Labels: none

feat(k8s): Upgrade to 1.29.0
  kubernetes/main/talos/talconfig.yaml
Labels: area/kubernetes

fix(talos): Use correct disk ID
  kubernetes/main/talos/talconfig.yaml
Labels: area/kubernetes

feat(kps): Update config
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(kromgo): Join the cool kids
  README.md
  kubernetes/main/apps/monitoring/kromgo/app/config/config.yaml
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kromgo/app/kustomization.yaml
  kubernetes/main/apps/monitoring/kromgo/ks.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
  kubernetes/main/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(local-path-provisioner): Add to NAS
  kubernetes/nas/apps/system/kustomization.yaml
  kubernetes/nas/apps/system/local-path-provisioner/app/helmrelease.yaml
  kubernetes/nas/apps/system/local-path-provisioner/app/helmrepository.yaml
  kubernetes/nas/apps/system/local-path-provisioner/app/kustomization.yaml
  kubernetes/nas/apps/system/local-path-provisioner/ks.yaml
Labels: area/kubernetes

feat(node-exporter): Update NAS HR
  kubernetes/nas/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(kps): Deploy on NAS
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/nas/apps/monitoring/kustomization.yaml
  kubernetes/nas/apps/monitoring/prometheus-operator-crds/app/helmrelease.yaml
Labels: area/kubernetes

fix(local-path-provisioner): KS Path
  kubernetes/nas/apps/system/local-path-provisioner/ks.yaml
Labels: area/kubernetes

fix(kps): KS Path
  kubernetes/nas/apps/system/local-path-provisioner/ks.yaml
Labels: area/kubernetes

feat(thanos): Move to Minio S3
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/main/apps/monitoring/thanos/app/externalsecret.yaml
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/thanos/app/kustomization.yaml
  kubernetes/main/apps/monitoring/thanos/app/objectbucketclaim.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(kps): Add thanos sidecar to NAS
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

feat(metrics-server): Deploy to NAS
  kubernetes/nas/apps/kube-system/kustomization.yaml
  kubernetes/nas/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/nas/apps/kube-system/metrics-server/app/helmrepository.yaml
  kubernetes/nas/apps/kube-system/metrics-server/app/kustomization.yaml
  kubernetes/nas/apps/kube-system/metrics-server/ks.yaml
  kubernetes/nas/apps/kube-system/namespace.yaml
Labels: area/kubernetes

feat(thanos): Grab external Thanos
  kubernetes/main/apps/monitoring/grafana/app/dashboard/home.json
  kubernetes/main/apps/monitoring/grafana/app/dashboard/kustomization.yaml
  kubernetes/main/apps/monitoring/grafana/app/dashboard/smartctl-exporter.json
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/thanos/app/kustomization.yaml
Labels: area/kubernetes

fix(grafana): KPS dashboards
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(kps): NAS rules because of missing metrics
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(kps): Remove NAS scrapeconfig
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/addons/scrapeconfigs/node-exporter.yaml
Labels: area/kubernetes

feat(kps): Point at central alertmanager
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore: Add some CLUSTER_NAME vars
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: Deleted wrong stuff
  infrastructure/terraform/s3/minio.tf
  kubernetes/main/apps/monitoring/grafana/app/dashboard/home.json
  kubernetes/main/apps/monitoring/grafana/app/dashboard/kustomization.yaml
  kubernetes/main/apps/monitoring/grafana/app/dashboard/smartctl-exporter.json
  kubernetes/main/apps/monitoring/thanos/app/dashboard/kustomization.yaml
Labels: area/kubernetes

fix(kps): Add missing repo
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

fix(kps): KS path
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

fix(kps): Temp yeet
  kubernetes/nas/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

fix(kps): Put back
  kubernetes/nas/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

fix(kps): More yeet
  kubernetes/nas/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

fix(kps): Unyeet
  kubernetes/nas/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

feat(thanos): Bump version
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(local-path): KS path
  kubernetes/nas/apps/system/local-path-provisioner/ks.yaml
Labels: area/kubernetes

feat(zot): Update config
  kubernetes/nas/apps/storage/zot/app/config/config.json
  kubernetes/nas/apps/storage/zot/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
