Repository doonga/greyrock-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/main, cluster/nas, cluster/utility, cluster/omni

feat(tautulli): Updates
  kubernetes/main/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(omni): Deploy dnsmasq
  kubernetes/omni/apps/network/dnsmasq/app/helmrelease.yaml
  kubernetes/omni/apps/network/dnsmasq/app/kustomization.yaml
  kubernetes/omni/apps/network/dnsmasq/ks.yaml
Labels: area/kubernetes, cluster/omni

feat(omni): Deploy matchbox
  kubernetes/omni/apps/network/kustomization.yaml
  kubernetes/omni/apps/network/matchbox/app/helmrelease.yaml
  kubernetes/omni/apps/network/matchbox/app/kustomization.yaml
  kubernetes/omni/apps/network/matchbox/ks.yaml
Labels: area/kubernetes, cluster/omni

feat(omni): Deploy omni
  kubernetes/omni/apps/network/kustomization.yaml
  kubernetes/omni/apps/network/omni/app/certificate.yaml
  kubernetes/omni/apps/network/omni/app/externalsecret.yaml
  kubernetes/omni/apps/network/omni/app/helmrelease.yaml
  kubernetes/omni/apps/network/omni/app/kustomization.yaml
  kubernetes/omni/apps/network/omni/ks.yaml
Labels: area/kubernetes, cluster/omni

feat(cert-manager): Add domain
  kubernetes/omni/apps/cert-manager/cert-manager/issuers/issuer-letsencrypt-prd.yaml
Labels: area/kubernetes, cluster/omni

feat(omni): Update taskfile
  .taskfiles/talos/Taskfile.yaml
Labels: none

feat(omni): Deploy omni
  kubernetes/omni/apps/network/omni/app/kustomization.yaml
Labels: area/kubernetes, cluster/omni

feat(omni): Deploy omni
  kubernetes/omni/apps/network/omni/app/externalsecret.yaml
Labels: area/kubernetes, cluster/omni

feat(omni): Deploy omni
  kubernetes/omni/apps/network/omni/app/helmrelease.yaml
Labels: area/kubernetes, cluster/omni

fix(omni): dev-net-tun is a file
  kubernetes/omni/apps/network/omni/app/helmrelease.yaml
Labels: area/kubernetes, cluster/omni

feat(omni): Update deps
  kubernetes/omni/apps/network/omni/ks.yaml
Labels: area/kubernetes, cluster/omni

feat(omni): Dump ingress-nginx and external-dns
  kubernetes/omni/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/omni/apps/network/external-dns/internal/externalsecret.yaml
  kubernetes/omni/apps/network/external-dns/internal/helmrelease.yaml
  kubernetes/omni/apps/network/external-dns/internal/kustomization.yaml
  kubernetes/omni/apps/network/external-dns/ks.yaml
  kubernetes/omni/apps/network/ingress-nginx/internal/certificate.yaml
  kubernetes/omni/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/omni/apps/network/ingress-nginx/internal/kustomization.yaml
  kubernetes/omni/apps/network/ingress-nginx/ks.yaml
  kubernetes/omni/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/omni

chore(omni): Cleanup docker-compose POC stuff
  .omni/containers/dnsmasq/docker-compose.yml
  .omni/containers/keycloak/docker-compose.yml
  .omni/containers/matchbox/docker-compose.yml
  .omni/containers/omni/docker-compose.yml
Labels: none

fix(omni-utility): Config tweaks
  .omni/clusters/utility/cp-patches.yaml
Labels: none

feat(utility): Cluster template export from omni
  .omni/clusters/utility/omni-template.yaml
Labels: none

feat(omni): Remove intel gpu stuff
  kubernetes/omni/apps/system/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/omni/apps/system/intel-device-plugins/gpu/kustomization.yaml
  kubernetes/omni/apps/system/intel-device-plugins/gpu/nodefeaturerule.yaml
  kubernetes/omni/apps/system/intel-device-plugins/ks.yaml
  kubernetes/omni/apps/system/intel-device-plugins/operator/helmrelease.yaml
  kubernetes/omni/apps/system/intel-device-plugins/operator/kustomization.yaml
  kubernetes/omni/apps/system/kustomization.yaml
Labels: area/kubernetes, cluster/omni

feat(utility): Uses omni now not talhelper
  kubernetes/utility/bootstrap/talos/clusterconfig/.gitignore
  kubernetes/utility/bootstrap/talos/talconfig.yaml
  kubernetes/utility/bootstrap/talos/talenv.sops.yaml
  kubernetes/utility/bootstrap/talos/talsecret.sops.yaml
Labels: area/kubernetes, cluster/utility

feat(arc): Bump runner counts
  kubernetes/main/apps/dev/actions-runner-controller/runners/greyrock-ops.yaml
Labels: area/kubernetes, cluster/main

feat: Remove coral and temp remove gpu selectors
  kubernetes/main/apps/home-automation/scrypted/app/helmrelease.yaml
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/nodefeaturerule.yaml
Labels: area/kubernetes, cluster/main

feat: Remove coral and temp remove gpu selectors
  .archive/kubernetes/frigate/app/helmrelease.yaml
  .archive/kubernetes/jellyfin/app/helmrelease.yaml
Labels: none

fix(nfd): Restore rule
  kubernetes/main/apps/system/node-feature-discovery/rules/nodefeaturerule.yaml
Labels: area/kubernetes, cluster/main

fix(omni): Bump resources
  .omni/clusters/main/cp-patches.yaml
  .omni/clusters/main/k8s1.yaml
  .omni/clusters/main/k8s2.yaml
  .omni/clusters/main/k8s3.yaml
  .omni/clusters/main/omni-template.yaml
  .omni/clusters/utility/k8s4.yaml
  .omni/clusters/utility/k8s5.yaml
  .omni/clusters/utility/k8s6.yaml
  kubernetes/omni/apps/network/omni/app/helmrelease.yaml
Labels: area/kubernetes, cluster/omni

feat(cert-manager): zerossl
  kubernetes/utility/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/utility/apps/cert-manager/cert-manager/issuers/issuer-zerossl-prd.yaml
Labels: area/kubernetes, cluster/utility

feat(cert-manager): zerossl
  kubernetes/utility/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/utility/apps/cert-manager/cert-manager/issuers/kustomization.yaml
Labels: area/kubernetes, cluster/utility

feat: Use zerossl cert
  kubernetes/utility/apps/network/ingress-nginx/shared/certificate.yaml
Labels: area/kubernetes, cluster/utility

feat(cert-manager): zerossl for main
  kubernetes/main/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/main/apps/cert-manager/cert-manager/issuers/issuer-zerossl-prd.yaml
  kubernetes/main/apps/cert-manager/cert-manager/issuers/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat: Enable i915 again
  .archive/kubernetes/frigate/app/helmrelease.yaml
  .archive/kubernetes/jellyfin/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/scrypted/app/helmrelease.yaml
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: Use zerossl cert on main
  kubernetes/main/apps/network/ingress-nginx/shared/certificate.yaml
Labels: area/kubernetes, cluster/main

Revert "feat: Enable i915 again"
  .archive/kubernetes/frigate/app/helmrelease.yaml
  .archive/kubernetes/jellyfin/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/scrypted/app/helmrelease.yaml
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: Add deps
  kubernetes/main/apps/home-automation/ambientweather2mqtt/ks.yaml
  kubernetes/main/apps/monitoring/hs110-exporter-rack/ks.yaml
Labels: area/kubernetes, cluster/main

feat(scrypted): Doesn't need priv or usb
  kubernetes/main/apps/home-automation/scrypted/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(tautulli): copy/paste
  kubernetes/main/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(cert-manager nas): Use zerossl
  kubernetes/nas/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/nas/apps/cert-manager/cert-manager/issuers/issuer-zerossl-prd.yaml
  kubernetes/nas/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/nas/apps/network/ingress-nginx/internal/certificate.yaml
Labels: area/kubernetes, cluster/nas

feat(talos main): Remove talhelper things
  kubernetes/main/bootstrap/talos/clusterconfig/.gitignore
  kubernetes/main/bootstrap/talos/talconfig.yaml
  kubernetes/main/bootstrap/talos/talenv.sops.yaml
  kubernetes/main/bootstrap/talos/talsecret.sops.yaml
Labels: area/kubernetes, cluster/main

feat(talos): Omni configs for talos clusters
  .omni/clusters/main/cp-patches.yaml
  .omni/clusters/main/k8s1.yaml
  .omni/clusters/main/k8s2.yaml
  .omni/clusters/main/k8s3.yaml
  .omni/clusters/utility/k8s4.yaml
Labels: none

feat(cert-manager omni): Use zerossl
  kubernetes/omni/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/omni/apps/cert-manager/cert-manager/issuers/issuer-zerossl-prd.yaml
  kubernetes/omni/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/omni/apps/network/omni/app/certificate.yaml
Labels: area/kubernetes, cluster/omni

Revert "Revert "feat: Enable i915 again""
  .archive/kubernetes/frigate/app/helmrelease.yaml
  .archive/kubernetes/jellyfin/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/scrypted/app/helmrelease.yaml
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(omni - main): Add omni-template export and extensions
  .omni/clusters/main/omni-template.yaml
Labels: none

chore: export omni cluster templates
  .omni/clusters/main/main-omni-template.yaml
  .omni/clusters/utility/utility-omni-template.yaml
Labels: none

feat(rtlamr2mqtt): Refactor
  kubernetes/main/apps/home-automation/rtlamr2mqtt/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/rtlamr2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*
cluster/utility:
  - changed-files:
      - any-glob-to-any-file: kubernetes/utility/**/*
cluster/omni:
  - changed-files:
      - any-glob-to-any-file: kubernetes/omni/**/*
